
body{
    background-color: aqua;
}


.cuota{
    border-style: 2x solid black;
    background-color: yellow;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
}

p{
    font-size: 40px;
}

.detalle{
    margin-top: 15px;
    border: solid
}

.detalle .titulos th{
    border-style: 2x solid black;
    padding: 0px 35px;
}

#rc11, #rc12, #rc13, #rc14, #rc15{
    padding: 0px 55px;
}

#rc21, #rc22, #rc23, #rc24, #rc25{
    padding: 0px 55px;
}

#rc31, #rc32, #rc33, #rc34, #rc35{
    padding: 0px 55px;
}

#rc41, #rc42, #rc43, #rc44, #rc45{
    padding: 0px 55px;
}

#rc51, #rc52, #rc53, #rc54, #rc55{
    padding: 0px 55px;
}